.card {
    padding: 8px;
    margin-bottom: 16px;
    background-color: #BEE3DB;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 15%;
    height: 15%;
    min-width: 200px;
    min-height: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
  }

  .card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
    color: #555B6E;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .card-content {
    font-size: 16px;
    color: #555B6E;
  }
  