/* Header.css */
.footer {
    text-align: center;
    background-color: #555B6E;
    color: #BEE3DB;
    padding: 10px;
    bottom: 0;
    margin-top: 500px;
    clear:both;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; /* Centering the container horizontally */
}

.footer-content {
    margin: 0; /* Remove default margin */
    font-family: 'Inconsolata', monospace;
    font-size: 26px;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    font-size: 20px;
    margin: 0 10px;
}

.nav-links li a {
    color: #BEE3DB;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}
